{
  "presets": ["@babel/env"],
  "plugins": [
    [
      "@babel/transform-react-jsx",
      {
        "pragma": "h", "pragmaFrag": "Fragment" 
      }
    ],
    ["@babel/transform-runtime", {
      "regenerator": true
    }]
  ]
}